@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    display: flex;
    flex-direction: column;
    /*background-color: #e0aab7;*/
    color: #60a3bc;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;

}

.header {
    height: 80px;
    background-color: #60a3bc;
    margin-top: 0;
    margin-bottom: 40px;
}

.logo {
    height: 55px;
    float: left;
    margin-top: 10px;
    margin-left: 30px;
}

.header h1 {
    margin-top: 15px;
    color: black;
    float: left;
}

.footer {
    height: 80px;
    background-color: #60a3bc;
    clear: both;
    margin-top: auto;

}

.form-control {
    border-radius: 50px;
    border: 1;
    padding: 8px;
    height: 22px;
    width: 220px;
    margin: auto;
}

.btn {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #60a3bc;
    padding: 20px;
    margin: 15px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.btn:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
}

.btn-center {
    margin-right: auto;
    margin-left: auto;
}

input[type="file"] {
    height: 40px;
    background-color: transparent;
}

li {
    float: left;
    margin: 10px;
    overflow: hidden;
    width: 180px;
    height: 150px;
    flex: 0 1 80%;
}

h2 {
    margin-bottom: 30px;
}

.back {
    margin-top: 50%;
}

img.gallery {
    width: 150px;
}

#big-image{
    margin-right: auto;
    margin-left: auto;
    width: 500px;

}
input {
    margin-right: 10px;
}

a{
    color: black;
    padding-right: 15px;
}

.navigation{
    float: right;
    margin-top: 25px;
    margin-right: 25px;
    font-size: 15px;
}